
body{
    background-color: grey;
}
table{
    width: 75%;
    align-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
h1,h2,h3{
    text-align: center;
    color: white;
    font-family: 'Courier New';
}
#T1{
    font-family: 'Trebuchet MS';
    color: rgb(187, 185, 185);
}
legend{
    color: white;
    font-family: 'Courier New';
}
