
      body{
        background: #eee;
        padding-top: 20px;
        font-family: monospace;
      }
      .header{
        border-radius: 20px 20px 0px 0px;
        padding: 10px 0px;
        background: purple;
        color: #fff;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .faq-item{
        margin-bottom: 40px;
        margin-top: 40px;
      }
      .faq-body{
        display: none;
        margin-top: 30px;
      }
      .faq-wrapper{
        width: 75%;
        margin: 0 auto;
      }
      .faq-inner{
        padding: 30px;
        background: aliceblue;
      }
      .faq-plus{
        float: right;
        font-size: 1.4em;
        line-height: 1em;
        cursor: pointer;
      }
      hr{
        background-color: #9b9b9b;
      }
      nav a{
        text-decoration:none;
        color:inherit;
        font-size:14px;
        position:relative;
        }
              
  nav li{
        display:inline-block;
        width:150px;
        height:30px;
        padding:5px 10px;
        background-color:#1C2392;
        border:1px solid #1C2392;
        text-align:center;
        color:#fff;
        position:relative;
  }
              
  nav li:hover{
        background-color:#1C2392;
        color:#1C2392;
        }
              
  nav li>ul{
        display:none;
        }
  
  nav li:hover>ul{
        display:block;
        position:absolute;
        top:30px;
        left:0px;
  }
  #Img1{
    height: 25px;
    width: 145;
    display: block;
  }
  #p1{
    padding-right: 1px;
  }
  * {box-sizing:border-box}
  p,a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 50px;
    display: block;
  }

  p,a:hover{

    background-color: rgb(255, 255, 255);
    color: rgb(49, 16, 110);

  }